<div class="banner">
    <img src="https://www.libun.edu.pe/images/slideshowinicio/BANNER%20WEB%20LIBROS%20GERMAN.png" alt="banner">
</div>

<div class="quienes-somos">
    <h1>¿Quienes Somos?</h1>
    <div class="row">
        <div class="column-1-T">
            <p>CrowBook es una comunidad para leer y escribir historias. 
            ¡Aquí podrás encontrar TODO nuestro contenido gratis! 
            Además de brindarte la posibilidad de donar CrowCoins 
            a tus escritores favoritos.</p>
        </div>
        <div class="column-2-I">
            <img src="../../../assets/image 5.png" class="miniaturas" alt="libros">
        </div>
      </div>
</div>

<div class="empieza-escribir">
    <h1>¡Empieza a Escribir!</h1>
    <div class="row">
        <div class="column-1-I">
            <img src="../../../assets/Frame 142.png" class="miniaturas" alt="libros">
        </div>
        <div class="column-2-T">
            <p>CrowBook es la herramienta ideal para escribir y llegar 
                a miles de nuevos lectores, tanto si eres un escritor 
                amateur como profesional. Además, podrás ganar dinero 
                mediante las CrowCoins como agradecimiento de tus suscriptores. 
                ¿Acaso no es genial?</p>
        </div>
    </div>
</div>

<div class="historias-famosas">
    <h1>Historias Famosas</h1>
    <div class="row">
        <div class="column-1-3">
            <img src="../../../assets/image 19.png" class="libro" alt="libros">
            <h2>"Ningún Lugar Como Aquí"</h2>
            <h4>Christina June</h4>
        </div>
        <div class="column-2-3">
            <img src="../../../assets/image 20.png" class="libro" alt="libros">
            <h2>"El Vestido y la Chica"</h2>
            <h4>Camille Andros</h4>
        </div>
        <div class="column-3-3">
            <img src="../../../assets/image 21.png" class="libro" alt="libros">
            <h2>"Muy Feo"</h2>
            <h4>Marcy Demansky</h4>
        </div>
      </div>
</div>

<div class="se-crowmember">
    <h1>¡Sé un Crowmember!</h1>
    <div class="row">
        <div class="column-1-TC">
            <p>¿Quieres ser parte de la comunidad Premium de CrowBook? 
                ¡No hay problema! Te ofrecemos una membresía con diversos 
                beneficios como historias ilimitadas sin anuncios y paquetes 
                exclusivos de CrowCoins a precios fabulosos por tan solo $ 1.00 al mes</p>
                <br><br>
                <h2>¿No es Asombroso?</h2>
        </div>
        <div class="column-2-IC">
            <img src="../../../assets/Frame 143.png" class="miniaturas" alt="libros">
        </div>
    </div>
</div>

<div class="unete-ya">
    <h1>¡Únete Ya!</h1>
    <div class="row">
        <div class="column-1-IU">
            <img src="../../../assets/Frame 144.png" class="miniaturas" alt="libros">
        </div>
        <div class="column-2-TU">
            <p>Accede a miles de libros con tan solo un clic.</p>
            <button mat-raised-button routerLink="/user/registrarse">REGÍSTRATE</button>
        </div>
    </div>
</div>


