<form
(ngSubmit)="update()"
autocomplete="off"
[formGroup]="form2"
#frmLibro2="ngForm"
>
    
    <mat-form-field appearance="outline" class="d-block">
        <mat-label>Nombre de Historia</mat-label>
        <input
        matInput #nombreInput
        type="text"
        maxlength="100"
        placeholder="Nombre-historia"
        formControlName="nombreHistoria"
        required [(ngModel)]="historia.nombreHistoria"
        />
        <mat-hint align="end">{{nombreInput.value?.length || 0}}/100</mat-hint>

       
    </mat-form-field>

    <BR>
    <mat-form-field appearance="outline" class="d-block">
        <mat-label>Descripción de Historia</mat-label>
        <textarea
        matInput #descripcionInput
        maxlength="500"
        formControlName="descripcionHistoria"
        required [(ngModel)]="historia.descripcionHistoria"
        row="5"
        ></textarea>
        <mat-hint align="end">{{descripcionInput.value?.length || 0}}/500</mat-hint>

      
    </mat-form-field>
    <BR>

    <mat-form-field appearance="outline">
        <mat-label>Elije la categoría</mat-label>
        <mat-select [(ngModel)]="nombreCategoria" formControlName="categoria" name="categoria">
             
           
        <mat-option *ngFor="let categoria of categoriasid" [value]="categoria">
            {{categoria.nombreCategoria}}
        </mat-option>
        </mat-select>
    </mat-form-field>
    <BR>

    <button mat-button routerLink="/user/historias/ver-mis-historias">Cancelar</button>
    <button
    mat-raised-button
    color="primary"
    type="submit"
    class="ms-2"
    [disabled]="frmLibro2.invalid"
    >Guardar</button>
</form>
