.customWidthClass{
  flex: 0 0 1000px;
}

.container2{
  padding: 30px;
  margin-top:30px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #F3F3F3;
  border-radius: 25px;
}

h1{
  font-family: Signika;
  font-weight: bold;
  display: inline-block;
}

h3{
  font-family: Signika;
}
.icono{
  padding-left: 30px;
}

.fila{
  display: flex;
  margin-bottom: 20px;
}
.colu-1{
  flex: 90%;
}

.colu-2{
  flex: 10%;
}

.row2{
  display: flex;
}
.fw-bold{
  flex: 90%;
}


mat-form-field{
  width: 100%;
}

table{
  width: 100%;
  font-family: Signika;
  border-radius: 50px;
}

button{
  font-family: Signika;
  font-size: 15px;
}