<div class="caja">
    <div class="fila">
        <div class="columna-1">
            <h1>Editar Usuario</h1>
            <br>      
            <app-form-modificar-perfil (onSubmit)="editUsuario($event)"></app-form-modificar-perfil>
        </div>
        <div class="columna-2">
            <img src="https://images.vexels.com/media/users/3/200201/isolated/preview/2d4632ccd749209b3ef93c20bf40b96f-personaje-de-lectura-de-mujer.png" class="portada" alt="portadahistoria">
        </div>
    </div>
</div>
