<form
(ngSubmit)="update()"
autocomplete="off"
[formGroup]="form"
#frmLibro2="ngForm"
>
    
    <mat-form-field appearance="outline" class="d-block">
        <mat-label>Nombre de Usuario</mat-label>
        <input
        matInput #nombreInput
        type="text"
        maxlength="25"
        placeholder="Nombre de Usuario"
        formControlName="nombreUsuario"
        required [(ngModel)]="usuario.nombreUsuario"
        />
        <mat-hint align="end">{{nombreInput.value?.length || 0}}/25</mat-hint>

       
    </mat-form-field>

    <BR>
        <mat-form-field appearance="outline" class="d-block">
            <mat-label>Correo</mat-label>
            <input
            matInput #correoInput
            type="text"
            
            placeholder="Correo"
            formControlName="correo"
            required [(ngModel)]="usuario.correo"
            />
            <mat-hint align="end">{{correoInput.value?.length || 0}}</mat-hint>
    
           
        </mat-form-field>
    <BR>
        <mat-form-field appearance="outline" class="d-block">
            <mat-label>Contraseña</mat-label>
            <input
            matInput #contrasenaInput
            type="text"
            maxlength="25"
            placeholder="Contraseña"
            formControlName="contrasenaUsuario"
            required [(ngModel)]="usuario.contrasenaUsuario"
            />
            <mat-hint align="end">{{contrasenaInput.value?.length || 0}}/25</mat-hint>
    
           
        </mat-form-field>
    <BR>
        <mat-form-field appearance="outline" class="d-block">
            <mat-label>Descripción</mat-label>
            <textarea
            matInput #descripcionInput
            maxlength="100"
            formControlName="descripcionUsuario"
            required [(ngModel)]="usuario.descripcionUsuario"
            row="5"
            ></textarea>
            <mat-hint align="end">{{descripcionInput.value.length || 0}}/100</mat-hint>
    
          
        </mat-form-field>

    
    <BR>
        
        <mat-form-field appearance="outline" class="d-block duro">
            <mat-label>Cantidad de CrowCoins</mat-label>
            <input
            matInput #coinsInput
            type="text"
          
            placeholder="Cantidad de CrowCoins"
            formControlName="cantidadCrowCoins"
            required [(ngModel)]="usuario.cantidadCrowCoins"
            readonly
            />
            <mat-hint align="end">{{coinsInput.value?.length || 0}}</mat-hint>
    
           
        </mat-form-field>
    
        
        <BR>
            <mat-form-field appearance="outline" class="d-block duro">
                <mat-label>¿Es CrowMember?</mat-label>
                <input
                matInput #memberInput
                type="text"
                readonly
                
                formControlName="esMiembro"
                required [(ngModel)]="usuario.esMiembro"
                />
                <mat-hint align="end">{{memberInput.value?.length || 0}}</mat-hint>
        
               
            </mat-form-field>
            
            
        
            
            <BR>

    <button mat-button routerLink="/user//ver-mi-perfil">Cancelar</button>
    
    <button
    mat-raised-button
    color="primary"
    type="submit"
    class="ms-2"
    [disabled]="frmLibro2.invalid"
    >Guardar</button>
</form>
