.titulo-shop {
  justify-content: center;
  display: flex;
  margin-top: 50px;
  align-items: center;
  
}

.titlee {
  font-size: 60px;
  margin-top: 60px;
  font-family: Signika;
  font-weight: bold;
  background-color: rgba(226, 162, 255, 0.2);
  
}

.mensajito {
  justify-content: center;
  display: flex;
  margin-top: 20px;
  
}
.mensajito_p {
  text-align: center;
  font-size: 18px;
}

.example-card {
  width: 20rem;
    height: 25rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   
  }
  * {
    font-family: Signika;
  }

  .coin {
    width: 200px;
    height: 200px;
    text-align:center
  }
  
  .example-header-image {
    background-size: cover;
  }

.mat-card {
      display: inline-block;
      margin: 1rem;
      background: rgba(226, 162, 255, 0.2);
      background: linear-gradient(199deg, rgba(171,72,217,.2) 0%, rgba(250, 80, 179, 0.2) 61%, rgba(251, 81, 126, 0.2) 100%);
    }

.cajita {
  display: flex;
    justify-content: center;
    height: 60vh;
  align-items: center;
}

.cantidad_crowcoins {
  margin-top: 25px;
  font-size: 28px;
  color: rgb(255, 255, 255);
  letter-spacing: 0.5px
}

.boton_paquete {
  background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(59, 59, 59, 0.25);
border-radius: 24px;
font-weight: bold;
font-size: 20px;
width: 130px;
margin-top: 20px;

}

.caja{
  font-family: 'Signika', sans-serif;
  padding: 30px;
  width: 80rem;
  margin-top: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  background: linear-gradient(360deg, rgba(228, 227, 227, 0.5) 0%, rgba(243, 243, 243, 0) 100%);
  border-radius: 40px;
}

.columna-1{
flex: 60%;

}
.columna-2{
flex: 40%;
}

.text-mem {
padding: 30px;
float: right;
clear: both;
display: block;
}

.portada{
max-height: 400px;
padding: 20px;
}

mat-icon{
font-family: 'Material Icons' !important;
}

.membresia {
display: flex;
    justify-content: center;
    height: 60vh;
  align-items: center;
}

.boton_membresia {
background: white;
font-weight: bold;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.20));
border-radius: 24px;
font-size: 18px;
height: 40px;
width: 230px;
}