<section *ngIf="dataSource" >
    <div class="container2" *ngIf="dataSource2" >
    <button mat-flat-button color="accent" (click)="backClicked()" ><mat-icon>arrow_back_ios</mat-icon></button>
    <!-- routerLink="../../historias/{{dataSource.idHistoria}}/ver/{{dataSource.idCapitulo}}"    -->
</div>
<section>
    <div class="container">
        <mat-card class="example-card"  *ngIf="dataSource">
            <div class="left-column">
                <img mat-card-lg-image src="https://i.ibb.co/yXXX4v8/Group-165.png" >
            </div>
            <div class="right-column">
                <mat-card-title-group >
    
                  <mat-card-title id="title-historia">{{dataSource.nombreCapitulo}}</mat-card-title>

                    <mat-card-subtitle>
                        {{dataSource.contenidoCapitulo}}
                    </mat-card-subtitle>
                    </mat-card-title-group >
            </div>
  
  
        </mat-card>
    </div>
    
</section>