.customWidthClass{
    flex: 0 0 1000px;
}

.container2{
    font-family: 'Signika', sans-serif;
    padding: 30px;
    margin-top:30px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #F3F3F3;
    border-radius: 25px;

}

h1{
    font-weight: bold;
    display: inline-block;
}
.icono{
    padding-left: 30px;
}

.row2{
    display: flex;
}
.col-1{
    flex: 90%;
}
.col-2{
    flex: 10%;
}


mat-form-field{
    width: 100%;
}

table{
    width: 100%;
    border-radius: 50px;
}