<mat-toolbar class="navbar">
  <img src="https://i.imgur.com/yORP3KF.png" style="max-width:10%" alt="Logo" routerLink="/user/historias/">

  <mat-form-field class="search-box" appearance="outline">
    <mat-label>¿Qué historia estás buscando?</mat-label>
    <input matInput placeholder="Ex. El Valle Misterioso">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon> {{nombre}}
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item  routerLink="/user/ver-mi-perfil">
      <mat-icon>account_box</mat-icon> Mi perfil
    </button>
    <button mat-menu-item  routerLink="/user/historias/ver-mis-historias">
      <mat-icon>assignment</mat-icon> Mis Historias
    </button>
    <button mat-menu-item  routerLink="/user/historias/biblioteca">
      <mat-icon>view_quilt</mat-icon> Mi Biblioteca
    </button>
    <button mat-menu-item  routerLink="/user/historias/favorito">
      <mat-icon>favorite_border</mat-icon> Mis Favoritos
    </button>
    <button mat-menu-item  routerLink="/user/historias/crear">
      <mat-icon>text_rotation_none</mat-icon> Escribir una Historia
    </button>
    <button mat-menu-item  routerLink="/user/compras/crowshop">
      <mat-icon>shopping_cart</mat-icon> CrowShop
    </button>
    <button mat-menu-item  routerLink="/user/compras/listar-compras">
      <mat-icon>attach_money</mat-icon> Mis Compras
    </button>
    <button mat-menu-item  routerLink="/user/ver-perfiles">
      <mat-icon>supervised_user_circle</mat-icon> Ver perfiles
    </button>
    <button mat-menu-item (click)=signOut()>
      <mat-icon>logout</mat-icon> Cerrar sesión
    </button>

  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
