.navbar{
    height: 100px;
    justify-content: space-between;
    background-color: white;
}

.navbar img{
    padding-left:30px
}

button{
    font-weight: bold;
    font-size:16px;
    margin-right: 30px;
}