<mat-toolbar class="navbar">
  <img src="https://i.imgur.com/yORP3KF.png" style="max-width:10%" alt="Logo" routerLink="/user/historias/">

  <mat-form-field class="search-box" appearance="outline">
    <mat-label>¿Qué historia estás buscando?</mat-label>
    <input matInput placeholder="Ex. El Valle Misterioso">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon> Usuario
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item  routerLink="/user/historias/ver-mis-historias">
      <mat-icon>assignment</mat-icon> Mis Historias
    </button>
    <button mat-menu-item  routerLink="/user/historias/crear">
      <mat-icon>text_rotation_none</mat-icon> Escribir una Historia
    </button>
    <button mat-menu-item (click)=signOut()>
      <mat-icon>logout</mat-icon> Cerrar sesión
    </button>

  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>

  


  
  