.contenedor{
    margin-top: 50px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}


.mat-card{
    font-family: Signika;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(88, 88, 88, 0.2);
    overflow: hidden;
    height: auto;
    width: 70%;
    padding: 30px;
}

mat-card-title-group{
    padding-left: 30px;
    transform: translateY(50%);

}



.fila{
    display: flex;
    margin-bottom: 15px;
}
.colu-1{
    flex: 40%;
}
.colu-2{
    flex: 50%;
}


h1{
    font-family: Signika;
    font-weight: bold;
}

table{
    width: 100%;
    margin-left: 20px;
}

a{
    font-weight: bold;
    display: inline-block;
    color: #000;
    font-family: Signika;
}