.cajota {
    background-color: white;
    border-radius: 20px;
    padding: 20px 30px;
    width: 100%;
    
}

.input-box2 {
    display: inline;
    flex-wrap: wrap;
    
}
.form1 {
    justify-content: center;
    align-items: center;

}

.form1 .input-box2 input {
    font-family: Signika;
    font-size: 16px;
    align-items: center;
    
    
}

.form1 .input-box2 mat-form-field {
    width: calc(100% / 2 - 10px);
    
}

.input-box1 mat-form-field {
    width: 100%;
    font-family: Signika;
    font-size: 16px;
}