body{
    margin: 0;
    padding: 0;
    background: url(https://i.imgur.com/wgn3Svy.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    height: 100vh;
    font-family: 'Signika', sans-serif;
    font-size: 16px;
}

.login-box{
    width: 550px;
    height: 600px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    color: black;
    display: grid;
    text-align: center;
}

.login-box .logo{
    height: 120px;
    top: -50px;
    margin: auto;
}

.login-box input[type="text"],
.login-box input[type="password"]{
    width: 468px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #EFEFEF;
    border-radius: 30px;
    font-size: 16px;
    margin-bottom: 25px;
    padding-left: 22px;
    box-sizing: border-box;
}

.login-box input::placeholder{
    color: black;
    font-family: 'Signika', sans-serif;
}

.login-box input[type="submit"]{
    width: 260px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #AC6D82;
    border-radius: 30px;
    margin-top:55px;
    color:white;
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 25px;
    cursor: pointer;
}

p{
    text-align: center;
    margin-bottom: 13px;
}

.login-box button{
    width: 260px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #455C7B;
    border-radius: 30px;
    color:white;
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
    margin: auto;
    top: 50%;
}

@media only screen and (max-width: 700px){
    body{
        margin: 0;
        padding: 0;
        /*background: url(../assets/FondoInicioSesionMobile.png);*/
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: top;
        background-size: cover;
        font-family: 'Signika', sans-serif;
        font-size: 16px;
    }
    
    .login-box{
        width: 370px;
        height: 600px;
        top: 50%;
        left: 50%;
        position: absolute;
        box-sizing: border-box;
        padding: 70px 10px;
        display: grid;
    }
    
    .login-box .logo{
        height: 85px;
    }
    
    .login-box input[type="text"],
    .login-box input[type="password"]{
        width: 340px;
        height: 40px;
        border: none;
        outline: none;
        background-color: #EFEFEF;
        border-radius: 30px;
        font-size: 16px;
        margin-bottom: 25px;
    }
   
    .login-box input[type="submit"]{
        width: 50%;
        height: 40px;
        font-weight: 600;
        font-size: 22px;
        margin: auto;
    }
   
    .login-box button{
        width: 50%;
        height: 40px;
        font-weight: 600;
        font-size: 22px;
    }}