.caja{
    font-family: 'Signika', sans-serif;
    padding: 30px;
    margin-top:30px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #F3F3F3;
    border-radius: 25px;

}
h1{
    font-weight: bold;
    display: inline-block;
}
mat-icon{
    padding-left: 20px;
    display: inline-block;
}
.fila{
    display: flex;
}
.columna-1{
    flex: 90%;
}
.columna-2{
    flex: 10%;
}

.portada{
    margin-top: 20px;
    border-radius: 5px;
    padding-right: 70px;
}

